DB_URL=postgresql+asyncpg://SkaDin:05111996@localhost:5432/taskDB
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=SkaDin
POSTGRES_PASSWORD=05111996
POSTGRES_DB=taskDB

SECRET=Misa

REDIS_URL=redis://localhost:6379
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=05111996
REDIS_USERNAME=SkaDin

MODE=DEV
TTL_REDIS=3600
SECRET_KEY=Misa

BOOTSTRAP_SERVERS=localhost:29092
CLIENT_ID=tasks_service
